html {
  font-size: 62.5%;
}

body {
  margin: 0%;
  padding: 0%;
  line-height: 1s;
  font-family: "Inter", sans-serif;
}

body p {
  padding: 0rem;
  margin: 0rem;
}

/* head-section */
.head-section {
  background-color: #fdf2e9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 8rem;
}

.head-section a {
  font-size: 2rem;
  margin: 1rem;
}

.website-name {
  font-size: 3.6rem !important;
  margin: 0rem 1rem 0rem 2rem !important;
  text-decoration: none;
  color: black;
}

.Workspace {
  /* height: 2rem; */
  background-color: white;
  color: #e67e22;
  text-decoration: none;
  border-radius: 0.75rem;
  border: solid #e67e22;
  border-width: 0.1rem;
  padding: 0.5rem 1rem;
}

.Workspace:hover {
  border-width: 0.15rem;
}

.Register {
  /* height: 2rem; */
  width: 13.1rem;
  background-color: #e67e22;
  color: white;
  text-decoration: none;
  border-radius: 0.75rem;
  border: solid #e67e22;
  border-width: 0.1rem;
  padding: 0.5rem 1rem;
}

.Register:hover {
  border-width: 0.15rem;
}

/* about-section */
.about-section {
  /* line-height: 1; */
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 10% 0rem 10%;
}

.phrase {
  padding: 0rem;
  margin: 0rem;
  font-size: 5rem;
}

.description p:last-child {
  font-size: 1.65rem;
  font-weight: 575;
  line-height: 1.15;
  letter-spacing: 0.02rem;
  word-spacing: 0.05rem;
}

.illustration-img {
  width: 100%;
  height: 100%;
}

/* module-section */
.module-section {
  width: 100%;
  background-color: #fdf2e9;
}

.module-grid-container {
  margin: 0rem 10% 0rem 10%;
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: initial;
}

.module {
  width: 17rem;
  height: 18rem;
  margin: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem grey; */
  transition: all 0.3s;
  border: solid #e67e22;
  border-width: 0.15rem;
  border-radius: 0.75rem;
}

.module:hover {
  box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem #e67e22;
}

.img-tag-holder {
  display: flex;
  flex-direction: column;
  width: 12rem;
  background-color: #fdf2e9;
  border-radius: 0.75rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}

.module-grid-container img {
  height: 10rem;
  width: 10rem;
}

.module-name {
  margin: 0rem;
  padding: 0rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.module-grid-container a {
  color: #e67e22;
  font-size: 1.8rem;
  text-decoration-color: #e67e22;
  text-decoration: none;
  border-color: #e67e22;
}

.explore:hover {
  text-decoration: underline;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: initial;
  margin: 0rem 10% 0rem 10%;
}

.production {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grid-3-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  gap: 2rem;
}

.word-color {
  color: #e67e22;
}

.flex-div-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
}

.link {
  text-decoration: none;
  font-size: 1.5rem;
}

.link:hover {
  text-decoration: underline;
}

.footer-info {
  font-size: 1.5rem;
  padding: 0rem;
  padding-bottom: 1rem;
  margin: 0rem;
}

.header {
  font-size: 2rem;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  font-size: 1.5rem;
}

.color {
  background-color: #fdf2e9;
}
