html {
  font-size: 62.5%;
}

body {
  margin: 0%;
  padding: 0%;
  line-height: 1s;
  font-family: "Inter", sans-serif;
}

.head-section {
  background-color: #fdf2e9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 8rem;
}

.head-section a {
  font-size: 2rem;
  margin: 1rem;
}

.website-name {
  font-size: 3.6rem !important;
  margin: 0rem 1rem 0rem 2rem !important;
  text-decoration: none;
  color: black;
}

.Workspace {
  height: 2rem;
  background-color: #e67e22;
  color: white;
  text-decoration: none;
  border-radius: 0.75rem;
  border: solid #e67e22;
  border-width: 0.1rem;
  padding: 0.5rem 1rem;
}

.Workspace:hover {
  border-width: 0.15rem;
}

.about-section {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 10% 0rem 10%;
}

.phrase {
  padding: 0rem;
  margin: 1rem;
  font-size: 6.4rem;
  color: #e67e22;
}

.phrase1 {
  padding: 0rem;
  margin: 0rem;
  font-size: 1.65rem;
  font-weight: bolder;
  line-height: 1.15;
  letter-spacing: 0.02rem;
  word-spacing: 0.05rem;
}

.illustration-img {
  width: 100%;
  height: 100%;
}

.phrase2 {
  padding: 0rem;
  margin: 0rem;
  font-size: 4rem;
}

.notes {
  overflow-wrap: break-word;
}

.color {
  background-color: #fdf2e9;
}

.info-section {
  padding: 2rem 0rem 2rem 0rem;
  margin: 0rem 10% 0rem 10%;
}

.form-element {
  padding: 1rem;
  background-color: #eb984e;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: initial;
}

.label {
  font-size: 3.2rem;
  font-weight: 600;
  padding: 0rem 0rem 0.5rem 0rem;
}

.message {
  font-size: 1.8rem;
  margin: 0rem;
  padding: 0rem;
}

.landmark-input {
  padding: 1rem 0rem;
  margin: 0rem 10% 0rem 10%;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  justify-items: baseline;
  align-items: center;
}

.text-input {
  font-size: 1.8rem;
  border-radius: 0.5rem;
  padding: 0.3rem;
  border: 0rem;
  height: 2.5rem;
}

.next-button {
  width: 10rem;
  border-radius: 1rem;
  background-color: #e67e22;
  font-size: 2rem;
  margin: 1rem;
  cursor: pointer;
  border: 0rem;
}

.landmark-setup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0rem 10% 0rem 10%;
}

.landmark-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  justify-content: center;
  justify-items: baseline;
  align-items: center;
  margin: 0rem 10% 0rem 10%;
}

.landmark-credentials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.pad {
  margin: 1rem;
}

.submit-button {
  background-color: #eb984e;
  color: black;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 550;
  border: 0rem;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  cursor: pointer;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: initial;
  margin: 0rem 10% 0rem 10%;
  padding-bottom: 2rem;
}

.production {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grid-3-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  gap: 2rem;
}

.word-color {
  color: #e67e22;
}

.flex-div-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
}

.link {
  text-decoration: none;
  font-size: 1.5rem;
}

.link:hover {
  text-decoration: underline;
}

.footer-info {
  font-size: 1.5rem;
  padding: 0rem;
  margin: 0rem;
}

.header {
  font-size: 2rem;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  font-size: 1.5rem;
}

.color {
  background-color: #fdf2e9;
}
