@media (max-width: 69em) {
  .head-section a {
    font-size: 1.8rem;
  }

  .website-name {
    font-size: 3.4rem !important;
  }

  .phrase {
    font-size: 6.2rem;
  }

  .phrase2 {
    font-size: 3.8rem;
  }

  .label {
    font-size: 3rem;
  }

  .submit-button {
    font-size: 2.2rem;
  }
}

@media (max-width: 63em) {
  .head-section a {
    font-size: 1.8rem;
  }

  .website-name {
    font-size: 3.4rem !important;
  }

  .phrase {
    font-size: 6rem;
  }

  .phrase2 {
    font-size: 3.6rem;
  }

  .label {
    font-size: 2.8rem;
  }

  .submit-button {
    font-size: 2.2rem;
  }
}

@media (max-width: 50em) {
  .head-section a {
    font-size: 1.6rem;
  }

  .website-name {
    font-size: 3.2rem !important;
  }

  .phrase {
    font-size: 5.6rem;
  }

  .phrase2 {
    font-size: 3.4rem;
  }

  .label {
    font-size: 2.6rem;
  }

  .submit-button {
    font-size: 2rem;
  }

  .phrase1 {
    font-size: 1.4rem;
  }

  .form {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 47.5em) {
  .grid-3-div {
    grid-template-columns: 1fr;
    justify-items: baseline;
  }

  .header {
    font-size: 1.6rem;
  }

  .items {
    font-size: 1.4rem;
  }

  .extra {
    margin-top: 1rem;
  }

  .form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 45em) {
  .landmark-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-section {
    grid-template-columns: 1fr;
  }

  .illustration {
    display: none;
  }
}

@media (max-width: 32em) {
  .head-section {
    flex-direction: column;
    justify-content: space-around;
    height: 10rem;
  }

  .phrase {
    font-size: 5.2rem;
  }

  .phrase2 {
    font-size: 3.2rem;
  }

  .label {
    font-size: 2.4rem;
  }

  .submit-button {
    font-size: 2rem;
  }

  .phrase1 {
    font-size: 1.2rem;
  }

  .grid-3-div {
    grid-template-columns: 1fr;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .container {
    flex-direction: column;
  }
}

@media (max-width: 23em) {
  .header {
    font-size: 1.6rem;
  }
}

@media (max-width: 20.6em) {
  .phrase {
    font-size: 5rem;
  }

  .phrase2 {
    font-size: 3rem;
  }

  .label {
    font-size: 2.2rem;
  }

  .submit-button {
    font-size: 2rem;
  }

  .phrase1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 18.75em) {
  .phrase2 {
    font-size: 2.8rem;
  }
  .header {
    font-size: 1.4rem;
  }
}
